:root {
  --accent-bg-color: #2f303a;
  --basic-bg-color: #f5f4fa;
  --main-white-color: #ffffff;
  --main-blue-color: #2196f3;
  --basic-text-color: #757575;
  --accent-text-color: #212121;
  --border-color: #eeeeee;
}

/*разметка шапки сайта*/
body {
  background-color: var(--main-white-color);
  color: var(--accent-text-color);
}
/*обнуляем точки для всех списков с классом link*/
.list {
  list-style: none;
}
/*Логотип*/
.logo-main {
  color: var(--accent-text-color);
  font-size: 25px;
}
.logo {
  color: var(--main-blue-color);
}
/*Навигация*/
.site-nav .link {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--main-blue-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--main-blue-color);
}
/*Контакты*/
.contacts .contacts-link {
  color: var(--basic-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--main-blue-color);
}
/*Герой*/
.hero-title {
  background-color: var(--accent-bg-color);
  color: var(--main-white-color);
}
.button.primary {
  background-color: var(--main-blue-color);
  color: var(--main-white-color);
}
.button:hover .button:focus {
  background-color: aqua;
  /* background-color: #188ce8; */
}
/*особенности*/
.features-list .text {
  color: var(--basic-text-color);
}
/*Команда*/
.team .text {
  color: var(--basic-text-color);
}
.list.team {
  background-color: var(--main-white-color);
}

/*Footer*/
.footer {
  background-color: var(--accent-bg-color);
  color: var(--main-white-color);
}
.logo-footer {
  color: var(--main-white-color);
  font-size: 26px;
}
/* нужно как-то сбросить курсивный шрифт */
.address-link {
  color: rgba(255, 255, 255, 0.6);
}
